body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}
.topcontainer {
    background-color: #395a88;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 225px 75px 225px;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.links {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
}
a {
    color: rgba(255, 115, 0, 0.863);
}
.main {
    display: flex;
}
.info {
    display: flex;
    flex-direction: column;
}
.titlebutton {
    background-color: rgba(255, 115, 0, 0.863);
    color: white;
}
.midcontainer {
    display: flex;
    justify-content: center;
    padding: 0 225px 75px 225px;
}
.boxes {
    display: flex;
    flex-direction: row;
}
.mid2container {
    background-color:rgba(167, 168, 175, 0.863);
    display: flex;
    justify-content: center;
    padding: 75px 225px 75px 225px;
}
.botcontainer {
    background-color:rgba(255, 115, 0, 0.863);
    display: flex;
    justify-content: center;
    padding: 75px;
}
.cta {
    background-color: #395a88;
}
.botbutton {
    background-color: #395a88;
    color:white;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 25px 225px 25px 225px;
}