body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}
.topcontainer {
    background-color: #395a88;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 225px 75px 225px;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

}
.links {
    font-weight: 600;
    display: flex;
    list-style-type: none;
    gap: 20px;
}
a {
    color: rgba(255, 115, 0, 0.863);
    text-decoration: none;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
align-self: flex-start;
margin: 25px;
padding-right: 40px;
}
h1 {
    font-size: 48px;
    margin: 0;
}
.tbutton {
    padding-top: 10px;
}
.titlebutton {
    background-color: rgba(255, 115, 0, 0.863);
    border-radius: 25px;
    text-align: center;
    color: white;
    width: 125px;
    height: 75px;
}
.testimage {
    width: 500px;
    height: 200px;
}
.midcontainer {
    display: flex;
    justify-content: center;
    margin: 50px, 0px;
    padding: 0 225px 75px 225px;
}
.midimages {
    text-align: center;
    padding-top: 25px;
}
.boximages {
    display: flex;
    gap: 75px;
}
.placeholder {
    width: 150px;
    height: 150px;
}
.mid2container {
    background-color:rgba(167, 168, 175, 0.863);
    display: flex;
    flex-direction: column;
    padding: 75px 375px;
}
.quote {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 24px;
}
.quoteby {
    display: flex;
    align-self: flex-end;
}
.botcontainer {
    background-color: white;
    padding: 75px 225px 75px 225px;
    justify-content: space-around;
}
.ctacontainer {
    background-color:rgba(255, 115, 0, 0.863);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}
.cta {
    display: flex;
    flex-direction: column;
    color: white;
}
.cta > h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.botbutton {
    background-color: rgba(255, 115, 0, 0.863);
    border-radius: 15px;
    border: white solid 2px;
    text-align: center;
    font-weight: 900;
    color: white;
    width: 125px;
    height: 75px;
}
.footer {
    background-color: #395a88;
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
}